# General
*.log
*.tmp
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg
venv/
env/
ENV/
.env

# CSharp / VS / .NET
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vspscc
*.vssscc
.vs/
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vsix
*.suo
*.opensdf
*.sdf
*.cache
*.diff
*.err
*.orig
*.rar
*.zip
*.VC.db
*.VC.VC.opendb
msbuild.log
msbuild.err
Debug/
Release/
**/App.config
*.docstates

# OS Specific
.DS_Store
Thumbs.db